body{
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #1f2937;
font-size: 18px;
color: #e5e7eb;
padding: 40px 200px;
flex: 1;

}

.logo {
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 19px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
  }  

.container{
    display: flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-evenly;
    padding: 200px;
}

.containerimg{
    display: flex;
    width: 300px;
    height: auto;
    min-width: auto;
}

.left  {
    display: flex;
    flex-direction: column;
    }

.awesome{
    font-size: 48px  ;
    font-weight: bold;
    color: #F9faf8;
}

.text  {

}

.button {

}

.mainimage {
    display: flex;
    margin: 50px;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 200px;
    text-align: center;
    flex: 1;
}

.tittle {
   display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.info   {
    display: flex;
    justify-content: center;
    gap: 150px   

}

.quotebox {
    display: flex;
    flex-direction: column;
    padding: 200px;
    background-color: #e5e7eb;
    

}

.quote {
    font-size: 36px;
    justify-content: center;
    font-style: italic;
}
.quotesignature {
    display: flex;
    justify-content: end;
    padding-right: 100px;
    font-weight: 800;
}